<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item text-white">
        <h2 class="accordion-header" id="flush-heading{{sector._id}}" style="background-color: #07425E;">
            <a class="accordion-button collapsed text-white" style="text-decoration: none;font-size: 17px;" type="button" data-bs-toggle="collapse" href="#flush-collapse{{sector._id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                {{sector.name}}
            </a>
        </h2>
        <div id="flush-collapse{{sector._id}}" class="accordion-collapse collapse text-dark" style="background-color: white;" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">xd</div>
        </div>
    </div>
</div>