<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item text-white">
        <h2 class="accordion-header text-center" id="flush-heading{{sector._id}}" data-toggle="collapse" style="background-color: #07425E;">
            <div class="row">
                <div class="col-10">
                    <a class="accordion-button collapsed text-white" style="text-decoration: none;font-size: 17px;" type="button" data-bs-toggle="collapse" href="#flush-collapse{{sector._id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{sector.name}}
                    </a>
                </div>
                <ng-container *ngIf="subSets.length">
                    <div class="col-2 mt-3 circulo">
                        {{subSets.length}}
                    </div>
                </ng-container>
            </div>
        </h2>
        <div id="flush-collapse{{sector._id}}" class="accordion-collapse collapse text-dark" style="background-color: white;" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body mt-0" data-bs-parent="#accordionFlushExample" *ngFor="let sticker of stickerService.arraySticker">
                <app-stickers *ngIf="sector._id == sticker._idSector" [stickerrr]="sticker.sticker"></app-stickers>
                <ng-container *ngFor="let subset of subSets">
                    <app-subset *ngIf="sector._id == subset.sectorId && subset.sticker == sticker.sticker" [subset]="subset"></app-subset>
                </ng-container>
            </div>
            <app-sub-sector (subsetEmitter)="addNewSubset($event)" [sector]="sector"></app-sub-sector>
        </div>
    </div>
</div>