<div class="col mr-0 ml-0 mt-0 p-0">
    <div class="container-fluid" style="padding: 0;">
        <div class="card-body mt-0">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div id='formulario' [ngClass]="{lleno: mensaje}">
                    <div class="row mt-0">
                        <div class="col-3 text-left mt-3" style="color: #939393;">
                            <label for="subsetName">Nombre:</label>
                        </div>
                        <div class="col-9 mb-2 mt-1">
                            <div class="input-group">
                                <!---<div class="input-group-prepend">---->
                                <input id="subsetName" name="subsetName" type="text" class="form-control input-lg b text-dark mt-2 " formControlName="subsetName" style="background-color: white;  line-height: 50%; color: #939393;" placeholder="Escriba nombre" aria-label="Nombre" aria-describedby="basic-addon1">
                                <div id='mensaje'>
                                    <small id="emailHelp" class="form-text text-muted" *ngIf="(subsetName.dirty || subsetName.touched) && subsetName.invalid && subsetName.errors.required"> Requerido </small>
                                </div>
                                <!----</div>---->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-left mt-3" style="color: #939393;">
                            <label for="sticker">Etiqueta:</label>
                        </div>
                        <div class="col-9  mt-1">
                            <div class="input-group">
                                <!--<div class="input-group-prepend">--->
                                <input id="sticker" name="sticker" type="button text " class="form-control btn b text-dark mt-2 " formControlName="sticker" style="font-size: 86%; line-height: 15%; color: #939393; " placeholder="Seleccione etiqueta o escriba etiqueta " aria-label="Nombre "
                                    aria-describedby="basic-addon1 ">
                                <div id='mensaje'>
                                    <small id="emailHelp " class="form-text text-muted " *ngIf="(sticker.dirty || sticker.touched) && sticker.invalid && sticker.errors.required "></small>
                                </div>
                            </div>
                            <!---</div>--->
                        </div>
                        <div *ngIf="sticker.dirty && sticker.touched"></div>
                        <div *ngIf="sticker.touched && !sticker.dirty">
                            <app-sticker-card [insector]="sector"></app-sticker-card>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row justify-content-center mt-2 mb-2 ">
        <div class="col-md-3 txt-center btn ">
            <button type="button " class="btn " style='line-height: 100%; background-color:#82C83C; width: 162px; Height: 31px' (click)="postSubset(); enviar() ">ENVIAR</button>
        </div>
    </div>
</div>

<!--------
<div class=" row mt-2 mb-2 ">
    <div class="col-md-6 text-center ">
        <button type="button " style='line-height: 100%; background-color:#82C83C' class="btn " [disabled]="!checkoutForm.valid " (click)="postSubset(); enviar() ">ENVIAR</button>
    </div>
</div>---->