<div class="accordion accordion-flush text-white  mt-1 mb-3" id="acordion" *ngIf="(sensors$ | async); let sensors">
    <div class="accordion-item">
        <div class="accordion-header mt-0 justify-content-center" id="flush-heading{{node._id}}" data-toggle="collapse" style="background-color: #6b6b6b;">
            <div class="row">
                <div class="col-9 pl-3">
                    <a class="accordion-button collapsed text-white" style="text-decoration: none; text-decoration-color: none; pointer-events: auto;" type="button" data-bs-toggle="collapse" href="#flush-collapse{{node._id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                        <!-- ARREGLAR ETIQUETA "A", AL APRETAR ENCIMA DE LA ROW, REDIRECCIONA LA PAGINA Y DEBERIA SOLO DESPLEGAR EL ACCORDION-BODY -->
                        <div class="row">
                            <div class="col-6 mt-3" style="font-size: 15px;">{{'Nodo ' + node?.number?.toString()}}</div>
                            <div class="col-6 mt-2">
                                <div class="text-left" style="font-family: 'Raleway'; font-size: 11px;">
                                    <p class="text-center">{{node?.lastSync | date: "HH:mm \n d/MM/yyyy"}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3 mt-3"> <!-- (hora actual > (lastSync + 4*ds))? KPI gray; KPI green --> 
                    <!--<ng-container *ngIf="(moment > (momentNode + (4*node?.ds))); else elseTemplate2"> <!-- INACTIVE 
                        <div class="circulo mt-1" style="background-color: gray; color: white;">{{sensors.length}}</div>
                    </ng-container>
                    <ng-template #elseTemplate2> <!-- (hora actual > (lastSync + 3*ds))? KPI red; KPI green 
                        <ng-container *ngIf="(moment > (momentNode + (3*node?.ds))); else elseTemplate3"> <!-- DANGER ACTIVE 
                            <div class="circulo mt-1" style="background-color: #FF0000; color: white;">{{sensors.length}}</div>
                        </ng-container>
                        <ng-template #elseTemplate3> <!-- (hora actual > (lastSync + 2*ds))? KPI yellow; KPI green 
                            <ng-container *ngIf="(moment > (momentNode + (2*node?.ds))); else elseTemplate4"> <!-- WARNING ACTIVE
                                <div class="circulo mt-1" style="background-color: #EEB72B; color: white;">{{sensors.length}}</div>
                            </ng-container>-->
                            <ng-template #elseTemplate4> <!-- ACTIVE -->
                                <ng-container *ngIf="node?.ds == 900; else elseTemplate5">
                                    <div class="circulo mt-1" style="background-color: #87FF10;">{{sensors.length}}</div>
                                </ng-container>
                                <ng-template #elseTemplate5>
                                    <div class="circulo mt-1" style="background-color: #87FF10;">{{sensors.length}}</div>
                                </ng-template>
                            </ng-template>
                        <!--</ng-template>
                    </ng-template>-->
                </div>
            </div>
        </div>
        <div id="flush-collapse{{node._id}}" class="accordion-collapse collapse" data-bs-parent="#acordion">
            <div class="accordion-body" data-bs-parent="#acordion" style="background-color: #9F9F9F;padding: 0.2rem;">
                <div class="overflow-scroll">
                    <ul class="list-group list-group-flush"  *ngFor="let sensor of sensors">
                        <div [ngSwitch]="sensor?.stat">
                            <div *ngSwitchCase="2"> <!-- WARNING MIN  -->
                                <li class="list-group-item mt-1" style="background-color: #EEB72B;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                            <div *ngSwitchCase="3"> <!-- WARNING MAX -->
                                <li class="list-group-item mt-1" style="background-color: #EEB72B;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                            <div *ngSwitchCase="4"> <!-- OPTIMUM -->
                                <li class="list-group-item mt-1" style="background-color: #5DAF1C;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                            <div *ngSwitchCase="5"> <!-- OK-->
                                <li class="list-group-item mt-1" style="background-color: #5DAF1C;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                            <div *ngSwitchCase="0"> <!-- CRITICAL MIN-->
                                <li class="list-group-item mt-1" style="background-color: #FF0000;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                            <div *ngSwitchCase="1"> <!-- CRITICAL MAX-->
                                <li class="list-group-item mt-1" style="background-color: #FF0000;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                            <div *ngSwitchCase="-1"> <!-- INACTIVE -->
                                <li class="list-group-item mt-1" style="background-color: #07425E;">{{getSensorType(sensor?.type)}}</li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>