<ng-container *ngIf="(opcion$ == 'conjunto'); else Template2">


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">¡ELIMINAR CONJUNTO!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Se eliminará el Conjunto "{{sectorName}}" con todos sus Subconjuntos asociados</h6>
                    <h6>¿Está seguro de que desea ELIMINAR el Conjunto "{{sectorName}}"?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn" style="background-color: #c2484a; color: white;" data-bs-dismiss="modal" (click)="buttonDeletePressed(sectorName)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #Template2>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">¡ELIMINAR SUBCONJUNTO!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Se eliminará el Subconjunto "{{subsetName}}"</h6>
                    <h6>¿Está seguro de que desea ELIMINAR el Subconjunto "{{subsetName}}"?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn" style="background-color: #c2484a; color: white;" data-bs-dismiss="modal" (click)="buttonDeletePressed(subsetName)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>